
body {
    background-color: #013A6B;
}

.container {
    align-items: right;
    top: 35vh;
    position: relative;
    text-align: right;
    left: 10vw;
}

#title {
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: Tahoma, sans-serif;
    width: 100%;
    text-align: center;  

}

h1 {
    align-items: center;
    font-size: 38px;
    color: white;
    font-family: Tahoma, sans-serif;
    width: 100%;
    text-align: center;  
}

p {
    color: #FDD200;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
}

.navigation-links {
    display: flex; /*flexbox for navigation links*/
    flex-direction: row;
    top: 8px;
    position: relative;
    float: right; /*positioned on top right of page*/
}

.navigation-links > div {
    /*specifies spacing between flexbox elements*/
    margin: 1vw; 
    padding: 14px 16px;
    color: black;
}

.navigation-links > div > a { /*specifies styling for text*/
    text-align: right; 
    text-decoration: none;
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}

